@{
    ViewData["Title"] = "Home";
}
<div class="card">
  <div class="card-body">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input type="email" class="form-control" id="Name" placeholder="Enter Name" aria-describedby="Name">
                </div>
            </div>
            <div class="col-md-5">
                <div class="mb-3">
                    <label for="contact" class="form-label">Contact</label>
                    <input type="text" class="form-control" placeholder="Enter Contact" id="Contact">
                </div>
            </div>
            <div class="col-md-1">
                <div class="text-end">
                    <label for="btn" class="form-label">&nbsp;</label>
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-plus-circle"></i> Add
                    </button>
                </div>
            </div>
        </div>
    </form>
  </div>
</div>
<div class="card mt-2">
    <div class="card-body">
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-center">SL</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Contact</th>
            <th scope="col" class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="text-center">1</th>
            <td class="text-center">Jakir</td>
            <td class="text-center">01788000000</td>
            <td class="text-end">
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-warning" type="button">
                        <i class="bi bi-pencil-square"></i> Edit
                    </button>
                    <button class="btn btn-danger" type="button">
                        <i class="bi bi-trash3-fill"></i> Delete
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
    </table>
  </div>
</div>

